:root {
  --black: #000000;
  --primary: #2b9370;
  --secondary: #e91e63; //#F89A9F
  --grey: #bbb8b8;
  --orange: #f59e1b;
  --white: #ffffff;
  --red: #f01b1b;
  --fonts: "Roboto", "Poppins", "Noto Sans Lao", sans-serif;
}
